
/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}



/* Bootstrap - Screen Reader */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



/* Custom Styles */
:root {
    /* --gutter: 20px;
  --spacing: 1em; */
    --ff-sans: 'Inter', sans-serif;
    --font-size: 1rem;
    --max-read-width: 600px;
}

html {
    color: #666666;
    scroll-behavior: smooth;
}

body * {
    font-family: var(--ff-sans);
    font-weight: 400;
    overflow: hidden;
}

body {
    position: relative;
    padding: 0;
    font-size: var(--font-size);
}

h2,
h3,
h4 {
    color: slategray;
    margin: 0px;
}

/* strong {
    font-weight: 600;
} */

small {
    font-size: 0.875rem;
}

.button {
    padding: 0.5rem;
}

.container {
    margin: 0 auto;
    max-inline-size: var(--max-read-width);
}

div {
    overflow-wrap: break-word;
}

#intro {
    padding: 120px 30px 60px 30px;
}

#contact {
    background-color: white;
    color: black;
    padding-block-start: 80px;
    padding-block-end: 60px;
    padding-inline: 30px;
    line-height: 3rem;
}

#contact form div {
    margin-top: 1rem;
    max-width: 500px;
    margin: 1rem auto;
}

#contact form div:first-of-type {
    margin-top: 0;
}

#contact form label {
    margin-bottom: 0.4rem;
    display: block;
}

#contact form input,
#contact form textarea {
    padding: 0.4rem;
    width: 100%;
    border: 0;
    background-color: #eeeeee;
    color: black;
    border-radius: 0.25rem;
    outline: none;
}

#contact form input:focus,
#contact form input:active,
#contact form textarea:focus,
#contact form textarea:active {
    border-color: transparent;
    border: 2px solid black;
}

#contact form button {
    display: block;
    padding: 0.6rem 1rem;
    width: 100%;
    background-color: #555555;
    border: 1px solid #999999;
    color: white;
    border-radius: 0.25rem;
    text-align: center;
    margin: 0 auto;
}

#contact form label {
    display: none;
}

#contact form button:hover,
#contact form button:focus {
    background: black;
}

#contact #kc-fs-result {
    margin-block-start: 10px;
}

.fs-result-gray {
    color: #666666;
    font-weight: 400;
}

.fs-result-green {
    /* color: #33bb80; */
    color: #666666;
    font-weight: 400;
}

.fs-result-red {
    /* color: #c02040; */
    color: #666666;
    font-weight: 400;
}


#contact #fbc {
    display: none;
}

#rg {
    padding: 60px 30px 150px 30px;
}

.rg-logo {
    /* position: relative; */
    /* top: 0; */
    /* left: 0px; */
    inline-size: 350px;
    margin: 0 auto;
    /* opacity:80%; */
    /* padding-block-start: 5px; */
    /* padding-block-end: 5px; */
}
